*{
    font-family: 'Roboto', sans-serif;
}

/* DEBUG */

*{
    border: 1px solid yellow;
}

.min-h70{
    min-height: 70px;
    background-color: rgb(255, 255, 162);
}

.min-h150{
    min-height: 150px;
}

.min-h300{
    min-height: 300px;
    background-color: pink;
}

/* .min-h500{
    min-height: 500px;
} */


/* DEBUG */


/*************************************************
    GENERAL STYLES
*************************************************/

/* ICONS */
i{
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

/* LINKS */

a{
   text-decoration: none;
}

/*----------BACKGROUND COLORS----------*/

.bg-dark-blue{
    background-color: #051e34;
}

.bg-light-blu {
    background-color: #1b72e8;
}

.bg-white{
    background-color: white;
}

#banner{
    background-color: rgba(0, 0, 0, 0.250);
}


/*----------TXT COLORS----------*/

.txt-verdeacqua {
    color: #1abc9c;
}

.txt-grey{
    color: #2c3e50;
}

.txt-lightgrey{
    color: grey;
}

.txt-black{
    color: black;
}

.txt-white{
    color: white;
}


/*----------BUTTONS----------*/


/************************************************
    UTILITIES
************************************************/

/*----------LAYOUT----------*/

.p-xy_col{
    padding: 12px;
}


/*----------IMPUT----------*/


/************************************************
    SITE SECTIONS
************************************************/

/* HEADER */

/* MAIN */

#general_container{
    height: calc(100vh - 70px);
}

/* aside */

aside{
    width: 150px;
    background-image: url("../img/sidebar-bg.png");
    background-size: cover;
    overflow-y: hidden;
}

/* main */

#container_components{
    width: calc(100% - 150px);
    overflow-y: auto;
}

.card{
    height: 100%;
    width: 100%;
}

