*{
    font-family: 'Roboto', sans-serif ;
}

/* DEBUG */

/* *{
    border: 1px solid rgb(0, 0, 0);
} */

/* .min-h70{
    min-height: 70px;
    background-color: rgb(255, 255, 162);
} */

.min-h150{
    min-height: 100px;
}

/* .min-h300{
    min-height: 300px;
    background-color: pink;
} */

/* .min-h500{
    min-height: 500px;
} */


/* DEBUG */


/*************************************************
    GENERAL STYLES
*************************************************/

span{
    padding: 0 0.5rem;
    font-size: 1.1rem;
}

/* ICONS */
i{
    font-size: 1.5rem;
}

.nav-icon{
    color: rgb(58, 58, 58);
    padding: 0 0.8rem;
    display: inline-block;
}



td i{
    color: gray;
    font-size: 1rem;
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 5px;
}


/* LINKS */

a{
   text-decoration: none;
}

/*----------BACKGROUND COLORS----------*/

.bg-dark-blue{
    background-color: #051e34;
}

.bg-light-blu {
    background-color: #1b72e8;
}

.bg-white{
    background-color: white;
}

.bg-whitesmoke{
    background-color: whitesmoke;
}

.bg-yellow{
    background-color: rgb(255, 217, 0);
}

#banner{
    background-color: rgba(0, 0, 0, 0.250);
}


/*----------TXT COLORS----------*/

.txt-verdeacqua {
    color: #1abc9c;
}

.txt-grey{
    color: #2c3e50;
}

.txt-lightgrey{
    color: grey;
}

.txt-black{
    color: black;
}

.txt-white, {
    color: white;
}


/*----------BUTTONS----------*/


/************************************************
    UTILITIES
************************************************/

/*----------LAYOUT----------*/

.p-xy_col{
    padding: 12px;
}


/*----------IMPUT----------*/

input[type="search"]{
    background-color: rgb(223, 220, 220);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
}

.search{
    background-color: rgb(223, 220, 220);
    border-radius: 4px;
}

.search i{
    font-size: 18px;
    padding: 0 0.4rem;
}


/************************************************
    SITE SECTIONS
************************************************/

/* HEADER */

#logo-sm{
    height: 40px;
}

#logo-lg{
    display: none;
}

/* MAIN */

#general_container{
    height: calc(100vh - 56px);
}

/* aside */

aside{
    width: 70px;
    background-image: url("../img/sidebar-bg.png");
    background-size: cover;
    color: white;
}

aside nav{
    height: 100%;
}

aside span{
    display: none;
}

#menu-buttons{
    overflow-y: hidden;
}

/* main */

#container_components{
    width: calc(100% - 70px);
    overflow-y: auto;
}

.card{
    height: 100%;
    width: 100%;
}

td img{
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

tr{
    text-align: center;
}

.hide{
    display: none;
}

/************************************************
    RESPONSIVE
************************************************/

/* Large devices 992px */
@media all and (min-width: 992px){

    #logo-sm{
        display: none;
    }
    
    #logo-lg{
        display: inline-block;
    }

    aside{
        width: 150px;
    }

    aside span{
        display: inline-block;
    }

    #container_components{
        width: calc(100% - 150px);
    }
}


@media all and (min-width: 768px){

    .hide{
        display: table-cell;
    }
    
}